.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    max-width: 500px;
    max-height: 500px;
}

.tic-tac-toe-button {
    min-width: 50px;
    min-height: 50px;
    border: solid;
    background-color: white;
}

button:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}